.login-container {
    height: 100vh;
    background-color: #ffffff;
}

.login-form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #060044;
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #060044;
    border: none;
}

.btn-primary:hover {
    background-color: #1a1a45;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
